<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Ingredient</title>
</head>

<body>
  <form action="/new" method="POST">
    <label for="name">Ingredient Name:</label>
    <input type="text" name="name" id="name" />
    <button type="submit">Add Ingredients</button>
  </form>
</body>

</html>